@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}
/* header style start here  */
#hero{

    background: rgba(255, 144, 14, 0.1);
    height: 100%;
    width: 100%;
}
.nav_container{
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0px;
}

.navbar{
    list-style: none;
    display: flex;
    /* border: 1px solid tomato; */
   
}
.nav_item{
    margin: 0px 40px;
    text-transform: capitalize;
}
.nav_Link{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-weight: 600;
    cursor: pointer;
}
.main_head{
    width: 80%;
    margin: 0px auto;
    text-align: center;
}
.main_h1{

    margin: 20px 30%;
}
.main_p{
   
    margin: 20px 25%;
    font-size: .7rem;
    line-height: 1.2rem;
    color: rgb(114, 114, 114);
    
}
.btn{
    padding: 30px;
    display: block;
}
.btn a{
 color: white;
 border-radius: 8px;

 background: rgb(255, 144, 14);
 text-decoration: none;
 padding: 20px 40px;

}
.main_img{
  width: 100%;
  height: 50%;
  margin-top: 40px;
}
.main_img img{
    width: 100%;
}
/* header style end here  */
/* main style start here  */
/* freture style start here  */

.feture{
   width: 80%;
   margin: 80px auto;
}
.freture_continar{
    display: flex;
  /* flex-wrap: wrap; */
  justify-content:center;

  
}
.freture_img{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 5px;
    width: 55%;

    
}
.freture_img img{
   width: 95%;
}

/* .freture_img{
    flex-basis: 1;
} */
/* freture style end here  */

.freture_content{
    max-width: 40%;
    margin: 10% auto;
    
}
.freture_h1,.freture_p{
    padding: 20px 40px;
}
.freture_h1{
    max-width: 300px;
    font-size: 1.7rem;
    line-height: 2.2rem;
}
.freture_p{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: .7rem;
font-weight: 400;
line-height: 26px;

}
.f_s_1{
    color: gray;
}
.f_s_2{
    color: black;
}
.f_s_3{
    color: rgb(255, 144, 14);
}


/* main style end here  */
/*  responsive start here  */
@media screen and (max-width: 576px) {
    nav.nav_container {
        flex-direction: column;
        align-items: center;
    }
    
    ul.navbar {
        flex-direction: column;
        align-items: center;
    }
    
    li.nav_item {
        padding-top: 20px;
    }
    h1.main_h1 {
        margin: 20px 2%;
    }
    
    p.main_p {
        margin: 20px 2%;
    }
    
    nav.nav_container {
        width: 100%;
    }
    
    .main_head {
        width: 100%;
    }
    #hero{

      
        height: 100vh;
    }
    section.feture {
        width: 100%;
    }
    
    .freture_continar {
        flex-direction: column;
    }
    .freture_img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    
    }    
    .freture_content {
      width: 100%;
        margin: 10% auto;
        text-align: center;
    }
    .freture_content {
        max-width: 100%;
    }
    h1.freture_h1 {
        max-width: none;
    }
    .freture_img {
        width: 100%;
    }
  
    
    .freture_continar {
        flex-direction: column-reverse;
    }
    header#hero {
        height: 100%;
    }
}
@media screen and (min-width: 575px) and (max-width: 992px){
    nav.nav_container {
        width: 100%;
        /* margin: 0px 2px; */
    }
    header#hero {
        height: 100%;
    }
    
    .main_head {
        width: 100%;
    }
    
    h1.main_h1 {
        margin: 20px 20%;
    }
    
    p.main_p {
        margin: 20px 20%;
    }
    
    header#hero {
        height: 100vh;
    }
    section.feture {
        width: 100%;
    }
    
    .freture_continar {
        flex-direction: column-reverse;
    }
    
    .freture_img {
        width: 100%;
    }
    
    .freture_content {
        margin: 40px auto;
        max-width: 80%;
        text-align: center;
    }
    
    h1.freture_h1 {
        max-width: none;
    }
}
/*  responsive end here  */
